*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top-page-app{
  width: 100vw;
  background: lightgrey;
  height: 70px;
}
.box-films{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin: 12px;
}

.box-films ul li{
  list-style: none;
}
.flag-image{
  width: 30px;
  height: 15px;
  vertical-align: middle;
  margin: 5px;
}
.container-app{
  
}
