*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* caratteristiche background image di film e serie */
.back-contain-center{
  background-repeat: round;
  background-size: cover;
}

/* alle scrollbar dell'intera pagina assegno uno stile */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 2px #303030;
}
.search-results::-webkit-scrollbar {
  width: 12px;
}

.search-results::-webkit-scrollbar-track {
  background:#000;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 20px;
  border: 2px #303030;
}

/* video in background prima della ricerca */
#myVideo {
  position: fixed;
  top: 70px;
  width: 100vw;
}
/* top page contenente search bar  */
.top-page-app{
  width: 100vw;
  background: lightgrey;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  box-shadow: 10px 10px 5px rgb(232,232,232);
}
.top-page-app img{
  width: 185px;
  padding-top: 9px;
}
.logo{
  color: white;
  width: 58%;
  display: flex;
  align-items: center;
}
.logo ul li{
  list-style: none;
  display: inline-flex;
  padding-right: 13px;
  padding-left: 30px;
  cursor: pointer;
}
.logo ul li:hover{
  color:rgb(160,160,160);
}
.user-research button{
  margin-right: 24px;
  height: 25px;
  font-size: 18px;
  width: 116px;
  cursor: pointer;
  border-radius: 7px;
}
.user-research input{
  border: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  width: 220px;
  transition: width 2s ;

}
.user-research:hover input{
  width: 419px;
  border: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;

}
/* contenitore risulati ricerca */
.search-results{
  display: flex;
  overflow-y: hidden;
  background: #000;
}

/* movies-info comparirà all'hover */
.movies-info{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-size: 14px;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.4s ;
  transform: scale(1);
  transition: transform 0.4s ;
  color:#989898;


}

.title-films-row{
  top: 70px;
  padding-left: 12px;
  color: azure;
  left: 38vw;
  position: absolute;
  font-size: 15px;
}

.title-series-row{
  padding-left: 12px;
  color: azure;
  left: 38vw;
  position: absolute;
  font-size: 15px;
  padding-top: 8px;}

  /* box in cui stampo a video i risultati */
  .box-series-films{
    height: 400px;
    border-radius: 5px;
    margin: 12px;
    position: relative;
    display: flex;
    cursor: pointer;
    margin-top: 70px;
  }

  .box-series-films:hover .movies-info{
    opacity: 1;
    background-image: linear-gradient(to top, #000 60%, 	#484848 100%);
    cursor: pointer;
    border-radius: 12px;
    transform: scale(1.1);
  }

  /* caratteristiche immagini background */
  .backImages{
    width: 100%;
    height: 100%;
  }

  .back-img > img{
    height: 300px;
    width: 300px;
  }

  .img-dim{
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 12px;
  }

  .box-series-films ul li{
    list-style: none;
  }

  .flag-image{
    width: 30px;
    height: 15px;
    vertical-align: middle;
    margin: 5px;
  }
 .box-cast{
  text-align: center;
  font-size: 19px;
  padding-bottom: 15px;
  z-index: 30;
 }
  .cast{
    color:#d9d9d9;
    border-radius: 2px;
    padding: 3px;
    font-size: 15px;
  }
