*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top-page-app{
  width: 100vw;
  background: lightgrey;
  height: 70px;
}
.search-results{
  height:50vh;
  display: flex;
  overflow-y: hidden;
}
.box-series-films{
  height: 250px;
  border: 1px solid black;
  margin: 12px;
}
.back-img > img{
  height: 250px;

}


.box-series-films ul li{
  list-style: none;
}
.flag-image{
  width: 30px;
  height: 15px;
  vertical-align: middle;
  margin: 5px;
}
.container-app{

}
